html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, 
q:before, q:after{content:''; content:none}
table{border-collapse:collapse; border-spacing:0}
body{background:#fff; font-family: 'Lato',Arial,sans-serif; font-size:1em; font-weight:400; color:#444444;}
i{font-style:italic}
b{font-weight:bold}
p{margin:0 0 24px 0}
p img{margin:0}
a, a:visited{color:#555555; text-decoration:none; outline:0; border-bottom:1px solid #555555}
a:hover, a:focus{opacity:0.7}
p a, p a:visited{line-height:inherit}
footer a, footer  a:visited{text-decoration:none; outline:0;}
#artikel a, #artiikel a:visited{border-bottom:none}
#artikel a:hover, #artikel a:focus{opacity:1}
ul, ol{margin-bottom:20px}
ul{list-style:none outside}
ol{list-style:decimal}
li{line-height:inherit; margin-bottom:12px}
li p{line-height:21px}
img{max-width:100%; height:auto}
header{background-image:url("/images/cover.png"); height:25em}
#judul{font-family: 'Oswald', sans-serif; padding:10em; text-align:center;}
#judul a, #judul a:visited { margin: 0; color: #ffffff;font-size: 42px;font-weight:700; line-height: 1;border:0; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); text-transform: uppercase;}
#judul a:hover, #judul a:focus{opacity:1; background-color:rgba(0,0,0,0.2)}
article{padding:50px 0; background-color:#fff;}
#page-title{font-weight:300; margin-bottom:30px; color: #A7A0A2; font-size:40px; line-height:1.2}
.vidyou{height:0; padding-top:25px; padding-bottom:67.5%; margin-bottom:10px; position:relative; overflow:hidden}
.vidvim{height:0; padding-top:0; padding-bottom:67.5%; margin-bottom:10px; position:relative; overflow:hidden}
.vidvim embed, .vidvim iframe, .vidvim object, .vidvim video, .vidyou embed, .vidyou iframe, .vidyou object, .vidyou video{top:0; left:0; width:100%; height:100%; position:absolute}
.gambar, figcaption{text-align:center}
.gambar img{max-width:100%}
#artikel ul li{clear:both; line-height:18px; margin-bottom:30px}
.list{color:#ddd; float:left; line-height:18px; margin-bottom:2px; margin-left:0; margin-right:2px; position:relative;}
#artikel ul li time{color:#ddd; float:right; margin-bottom:2px}
.list, #artikel ul li time{padding:12px 20px; background-color:#444444;}
.list:hover, #artikel ul li time:hover{opacity: 1;}
footer p{font-size:12px}
footer{padding: 3em 0 1em;background-color:#eeeeee;}
#pagnav{margin-top:50px; position:relative; text-align:center}
#pagnav a, #pagnav a:visited{color:#ddd; padding:10px 30px; background-color:#006e6e; background-color:rgba(0,0,0,0.2); border-bottom:none}
#pagnav a:hover, #pagnav a:focus{background-color: #006161; background-color: rgba(0,0,0,0.3);opacity: 1;}
.next, .prev{top:-9px; position:absolute; line-height:1.4}
.next{right:0}
.prev{left:0}
#disqus_thread{margin-top:30px;}
.gambar, .vidyou, .vidvim{margin-bottom:24px}
figcaption{padding:10px 2px; position:relative; font-size:12px; color:#ddd; margin:-49px auto 0; max-width:420px; background-color:#006e6e; background-color:rgba(0,0,0,0.5)}
.first{margin:0 16px 10px 130px; float:left}
.right{text-align:right}
q{position:relative; text-align:center; font-size:130%; font-style:italic; display:block; margin-bottom:24px; padding:10px 20px; color:#ddd; background-color:#006e6e; background-color:rgba(0,0,0,0.2)}
q:before{top:0; left:0px; position:absolute;  margin:0 5px;   speak: none;}
q:after{bottom:0; right:0px; position:absolute;  margin:0 5px;   speak: none; }
time:before{margin-right:5px;  speak: none; }
figcaption:before{   margin-right:10px; speak: none;}
.beranda:before{margin-right:10px;  speak: none; color:#ddd;}
.prev:before{   margin-right:10px; speak: none; color:#ddd;}
.next:after{   margin-left:10px; speak: none; color:#ddd;}
.list:after {position: absolute;right: 10px;speak: none; display:none; color:#ddd;}
q:before, q:after, time:before, figcaption:before, .beranda:before, .prev:before, .next:after, .list:after{content: attr(data-icon); font-size:14px;}
audio{width:100%;}
@font-face{ font-family:'icomoon';  src:url('/fonts/icomoon.eot');  src:url('/fonts/icomoon.eot?#iefix') format('/fonts/embedded-opentype'), url('/fonts/icomoon.woff') format('woff'), url('/fonts/icomoon.ttf') format('truetype'), url('/fonts/icomoon.svg#icomoon') format('svg');  font-weight:normal;  font-style:normal}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
.wrap{width:720px; margin-left:auto; margin-right:auto}

 @media only screen and (min-width:768px) and (max-width:959px){
 .wrap{width:580px}
}
 @media only screen and (min-width:480px) and (max-width:767px){
 .wrap{width:320px;}
#page-title{font-size:32px}
#artikel ul li time{display:none}
.list{margin-right:0; float:none}
#artikel ul li{margin-bottom:0}
.next, .prev{top:-4px}
#pagnav a, #pagnav a:visited{padding:5px 10px}
.list:after {display:inline;}
 }
 @media only screen and (max-width:479px){
 body{font-size:14px}
.wrap{width:210px;}
#page-title{font-size:28px; text-align:center;}
#artikel ul li time{display:none}
.list{margin-right:0; float:none; padding:10px 15px 10px 10px}
#artikel ul li{margin-bottom:0}
.next, .prev{top:-4px}
.next:after, .prev:before, .beranda:before{display:none;}
#pagnav a, #pagnav a:visited{padding:5px 10px}
.vidyou{padding-top:0}
figcaption{margin:-48px auto 0;}
.list:after {display:inline; right:5px;}
#judul{text-align:center;}
 }
 @media only screen and (min-width:320px) and (max-width:479px){
 body{font-size:14px}
.wrap{width:300px;}
.vidyou{padding-top:25px}
.next:after, .prev:before, .beranda:before{display:inline;}
}